*{
margin: 0;
padding: 0;
font-family: sans-serif;


}

.banner{
    width: 100%;
    height: 80vh;
    padding: 5%;
    background-image:linear-gradient(rgba(45, 39, 39, 0.75),rgba(9, 9, 9, 0.75)),url(webimage.jpg);
    background-size:cover;
    background-position: center;
   


}

.navbar{
width: 85%;
margin: auto;
padding: 35px 0;
display:flex;
align-items: center;
justify-content: space-between;

}



.logo1{
    max-width: 80px;
position: absolute;
top:4%;
left: 10%;
  
}
#menu_bar{
    width: 50px;
    height: 50px;
    background:#8d8f6a;
    text-align: center;
    position: fixed;
    right:30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}

#menu_bar img{
    width: 20px;
    margin-top: 15px ;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #8d8f6a;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{

list-style: none;
margin: 50px 20px;

}

nav ul li a{
    text-decoration:  none;
    color: #fff;

}


.navbar ul li {
    list-style: none;
    /* display: inline-block; */
    margin: 50px 20px;
    /* position: relative; */
}

.navbar ul li a{
    text-decoration:none;
    color:  white;
    /* text-transform: uppercase; */

}

.navbar ul li::after{

    content:'';
    height:3px;
    width:0;
    background: #009688;

    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.56s;


}


.navbar ul li:hover::after{
    width: 100%;

}







#search_box{ 
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}



.container{
width:100% ;
position:absolute ;
top: 50%;
transform: translateY(-50%);
text-align: center;
color: rgb(235, 229, 229);

}

.container h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Kaushan Script', cursive;

  
}

.container p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
    
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;

    font-weight: bold;
    border:2px solid #8d8f6a;
    background: transparent;
    color:#fff ;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
    background: #8d8f6a;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}


button:hover span{
width: 100%;
}
.search_bar{

    width: 60%;
    max-width:700px;
    background: rgba(255,255,255,0.2);
    display:flex;
    align-items: center;
    border-radius:60px;
    padding: 10px,20px;
    backdrop-filter:blur(4px) saturation(180%);

}


.search_bar input{

    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
    

}

::placeholder{
    color: white ;
}

.search_bar button img{
    width: 25px;
    
}


.search_bar button:hover:not(.active) {
    background-color: #ffffff;
    color: #d63c12;
    
}



.swiper{

    width: 40%;
    height: fit-content;
    justify-content: center;
    

}


.swiper-slide img{
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:color-burn;
    


   


}

.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: rgb(243, 26, 26);


}